{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block menu %}
{% endblock %}
{% block header %}
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="content">
  <div class="document mt-40">
      <!-- form validation -->
      <div class="card">
          <div class="card-title">
              <h4>Restablecer contraseña</h4>
          </div>
          <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                  <div class="form-group">
                    <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
                    {{ form.email.errors }}
                    <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
                      
                  </div>
                  
                  <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}