{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contraseña cambiada correctamente{% endblock %}
{% block menu %}
{% endblock %}
{% block header %}
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<div class="content">
  <div class="document mt-40">
      <div class="col-md-9 mx-auto mb-5">
        <h3 class="mb-4">Contraseña cambiada correctamente</h3>
        <p>Puedes volver a tu perfil haciendo clic <a href="{% url 'profile' %}">aquí</a>.</p>
      </div>
    </div>
  </div>
  
{% endblock %}