{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña enviado{% endblock %}
{% block menu %}
{% endblock %}
{% block header %}
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="content">
  <div class="document mt-40">
      <!-- form validation -->
      <div class="card">
          <div class="card-title">
              <h4>Restablecimiento de contraseña enviado</h4>
          </div>
          <div class="card-body">
            <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
            <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
          </div>
      </div>
  </div>
</div>
{% endblock %}